.formControl {
  margin-top: 8px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-700);
  padding: 0px 16px;
  border-radius: 8px;
  gap: 8px;
}

.formControl input {
  font: inherit;
  outline: none;
  border: none;
  flex-grow: 1;
  padding: 12px 0;
}

.formControl:has(input:focus) {
  border-color: var(--gray-300);
}

.formControlError {
  border-color: var(--red) !important;
}

.formControlFeedback {
  color: var(--red);
}