body {
  font-family: var(--ff-regular);
  font-weight: var(--fw-regular);
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  color: var(--black-300);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--black-200);
}