:root {
  /* font */
  --ff-brand: "Holtwood One SC";
  --ff-regular: "Archivo";
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* colors */
  --white: #fff;
  --black-300: #333441;
  --black-200: #1a1a2a;
  --gray-300: #4d4d56;
  --gray-400: #fafafb;
  --gray-700: #a6a6ab;
  --sea-blue-100: #0267ff;
  --red: #ff0000;
  --success-700: #99f599;
  

  /* utilities */
  --shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
}