.btn {
  font: inherit;
  outline: none;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.primary {
  background-color: var(--sea-blue-100);
  color: var(--white);
}

@media (min-width: 1200px) {
  .btn {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}